<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDspoVQXTYCvnTmMpb7EUeSW2rbQRN2cmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>496404340280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleaningDutyProject</string>
	<key>PROJECT_ID</key>
	<string>cleaning-duty-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaning-duty-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496404340280:ios:71b6fb9a9a3d41099810cd</string>
</dict>
</plist>